@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="bbb">
        <object data='~/Content/cinemaTown2.svg' type='image/svg+xml' width='500' height='500' class="banner-inner"/>
    </div>
</div>